.form__button {
    display: block;
    padding: 0;
    text-align: center;
    width: 358px;
    height: 50px;
    font-size: 14px;
    background: #000000;
    border-radius: 2px;
    cursor: pointer;
    color: white;
    font-family: Inter;
    border-width: 0px;
    margin: 0 auto;
    transition: opacity 1s ease;
}

.form__button:hover {
    opacity: 0.8;
}