.profile__button_add {
    outline:none;
    width: 150px;
    background-color: black;
    background-image: url(../../../../images/AddButton2.svg);
}

.profile__button_add:hover {
    opacity: 0.6;
}

@media screen and (min-width: 320px) and (max-width: 880px) {
    .profile__button_add {
        background-image: url(../../../../images/AddButton_mob.svg);
        width: 282px;
    }
}