@import url(../vendor/normalize.css);
@import url(../vendor/Inter/inter.css);
@import url(../blocks/root/root.css);
@import url(../blocks/header/header.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__content/profile__content.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__text/profile__text.css);
@import url(../blocks/profile/__autor/profile__autor.css);
@import url(../blocks/profile/__profession/profile__profession.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__button/profile__button.css);
@import url(../blocks/profile/__button/_edit/profile__button_edit.css);
@import url(../blocks/profile/__button/_add/profile__button_add.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__heading/popup__heading.css);
@import url(../blocks/popup/__button/popup__button.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/form/form.css);
@import url(../blocks/form/__input-container/form__input-container.css);
@import url(../blocks/form/__item/form__item.css);
@import url(../blocks/form/__button/form__button.css);
@import url(../blocks/places/places.css);
@import url(../blocks/place/place.css);
@import url(../blocks/place/__image/place__image.css);
@import url(../blocks/place/__info/place__info.css);
@import url(../blocks/place/__like/place__like.css);
@import url(../blocks/place/__like/_active/place__like_active.css);
@import url(../blocks/place/__title/place__title.css);
@import url(../blocks/footer/__author/footer__author.css);
.place__delete {
    cursor: pointer;
    position: absolute;
    top: 18px;
    right: 15px;
    Width: 18px;
    Height: 19.3px;
    transition: opacity 1s ease;
}

.place__delete:hover {
    opacity: 0.5;
}
.popup__image-caption{
    margin:0;
    position: relative;
}
.popup__image {
    max-width: 75vw;
    max-height: 75vh;

}
.popup-image_opened {
    display: flex;
}
.popup__caption {
    font-family: "Inter", "Arial ", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    margin:10px 0 0 0;
}
