.profile__autor {
    height: 39px;
    margin: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
}

@media screen and (min-width: 320px) and (max-width: 880px) {
    .profile__autor {
        margin: 0 auto 0 auto;
        font-size: 27px;
        line-height: 33px;
        text-align: center;
    }
}