.overlay_close {
    position: absolute;
    height: 40px;
    width: 40px;
    right: -40px;
    top: -40px;
    background: #FFFFFF;
    background-image: url(../../../images/CloseIcon.svg);
    background-size: cover;
    cursor: pointer;
    transition: opacity 1s ease;
}

.overlay_close:hover {
    opacity: 0.6;
}

@media screen and (min-width: 320px) and (max-width: 880px) {
    .overlay_close {
        right: 0;
        top: -53.62px;
    }
}